@import "tailwindcss";
@import 'react-quill-new/dist/quill.snow.css'; 
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "tailwindcss/preflight"
@tailwind utilities;

.link.active {
    color: blue;
    background-color: rgb(42, 27, 139);
}

.content::-webkit-scrollbar {
  width: 3px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #9c9999;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #858484;
}

.container-home{
  width: 1200px;
  margin: 0 auto;
}

.tag::-webkit-scrollbar {
  width: 1px;
}

.tag::-webkit-scrollbar-thumb {
  background-color: #47aed6;
  border-radius: 10px;
}

.tag::-webkit-scrollbar-thumb:hover {
  background-color: #47aed6;
}